/* 2D轮播模块

    调用
    <div class="scroller-container">
        <div class="scroller-track">
            <div class="scroller-card">
                <img src="assets/images/SoN-PretoFill.png" alt="">
                <div class="scroller-caption">标题</div>
            </div>
            <!-- 多个重复的图片 -->
            </div>                                
        </div>
    </div>

    样式
    ┌─────────────────────────────────────────────────
    │  .scroller-container
    │  ┌──────────────────────────────────────────────
    │  │  .scroller-track  
    │  │  ┌───────────────────────────────────────────
    │  │  │  .scroller-card     
    |  |  |    .<img>
    |  |  |    .scroller-caption   
    │  │  └───────────────────────────────────────────
    │  └──────────────────────────────────────────────      
    └─────────────────────────────────────────────────
*/
.scroller-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.scroller-container::-webkit-scrollbar {    /* 自定义横向滚动条整体样式 */
    height: 5px;              /* 滚动条的高度（横向滚动条的“粗细”） */
}

.scroller-container::-webkit-scrollbar-track {  /* 滚动条轨道 */
    background: #1a130c;      /* 轨道背景色 */
    border-radius: 4px;
}

.scroller-container::-webkit-scrollbar-thumb {  /* 滚动条滑块 */
    background: #fcce7f;      /* 滑块颜色 */
    border-radius: 4px;
}

.scroller-container::-webkit-scrollbar-thumb:hover {    /* 滑块悬停效果 */
    background: #f9e4a0;
    cursor: grab;
}

.scroller-container::-webkit-scrollbar-thumb:active {    /* 滑块悬停效果 */
    cursor: grabbing;
}

.scroller-track {
    display: inline-flex;
    gap: 3px;
    padding: 0 40px;
}

.scroller-card {
    position: relative;
    width: 500px;
    height: auto;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 3px;
    overflow: hidden;
    background: #1e1e2e;
    box-shadow: 0 10px 25px -5px rgba(0,0,0,0.5);
    transition: transform 0.2s; 
}

.scroller-card img {
    position: relative;    
    width: 100%;
    height: 350px;
    object-fit: fill;
    display: block;
}

.scroller-card:hover img {
    transform: scale(1.02);
}

.scroller-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: none;
    color: #f0e6d2;
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0 2px 4px black;
    z-index: 2;
    border-left: 3px solid #c8a870;
    padding-left: 12px;
    transition: transform 0.2s ease;
}

.scroller-card:hover .scroller-caption {
    transform: translateX(-200px);
}
